header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  box-shadow: $box_shadow;
  margin-bottom: 50px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
  }

  button {
    display: none;
    background: 0 0;
    border: 0;
    padding: 0;

    span {
      display: block;
      width: 20px;
      height: 1px;
      margin: 5px 0;
      background-color: #3b3b3b;
      transition: all 0.5s ease-in-out;
    }

    &.active {
      span:first-child {
        transform: translateY(6px) rotate(45deg);
      }

      span:nth-child(2) {
        opacity: 0;
        visibility: hidden;
      }

      span:last-child {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }

  label {
    font-weight: 600;
  }

  select {
    margin-left: 5px;
    border: 0;
    background: transparent;
    padding: 15px 0;
  }
}
