@media (max-width: 768px) {
  header {
    nav {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      top: 85px;
      left: -100%;
      height: calc(100vh - 170px);
      width: 100%;
      background: rgba(255, 255, 255, 0.8);
      overflow: hidden;
      transition: all 0.5s ease-out, background 1s ease-out;
      transition-delay: 0.2s;
      z-index: 999999;

      &.active {
        left: 0;
        background-color: #fff;
        transition: all 0.3s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;
      }
    }
    button {
      display: block;
    }
  }
}
